<div>
    <header class="header">
        <img src="../assets/img/logo.png" alt="Logotipo de la empresa" class="logo">
        <h1 class="title">El Ekeko Fast Cash</h1>
        <nav class="nav-bar">
            <ul style="list-style: none;display: inline;">
                <li><a href="#" class="nav-link">Inicio</a></li>
                <li><a href="#" class="nav-link">Acerca de</a></li>
                <li><a routerLink="/showInsertLenderBoss" class="nav-link">Agregar Jefe de Pestamista</a></li>
                <li><a routerLink="/showUpdateLenderBoss" class="nav-link">Actualizar Jefe de Pretamista</a></li>
                <li><a routerLink="/showSignin" class="nav-link">Ingresar al sistema</a></li>
            </ul>
        </nav>
    </header>
    <router-outlet></router-outlet>
</div>